<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{{ theme:partial name="metadata" }}
</head>
<body id="">

	<!-- Begin pageWrapper -->
	<div id="">
		{{ integration:analytics }}

		{{ theme:partial name="header" }}


		<!-- Begin contentWrapper -->
		<div id="contentWrapper">

			{{ theme:partial name="content" }}

		</div>
		<!-- End contentWrapper -->

	{{ theme:partial name="footer" }}

	</div>
	<!-- End pageWrapper -->

</body>
</html>