<!-- Begin meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="SHOKUNBI, Busayo" />
<meta name="copyright" content="TheBuston City" />
<meta name="distribution" content="global" />
<meta name="resource-type" content="document" />
<meta name="language" content="{{ lang:code }}" />
<meta name="keywords" content="PharmAccess TheBuston">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


{{ theme:favicon file="favicon.ico" sizes="16x16 32x32" }}

{{ asset:js file="jquery/jquery.min.js" }}
<base href="{{ url:base }}" />

<!-- Begin stylesheets -->
{{ asset:css file="bootstrap.min.css" }}
{{ asset:css file="font-awesome.min.css" }}
{{ asset:css file="nivo-lightbox.css" }}
{{ asset:css file="nivo_themes/default/default.css" }}
{{ asset:css file="templatemo-style.css" }}
{{ asset:css file="carousel.css" }}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- End stylesheets -->

<!-- Use Html5Shiv in order to allow IE render HTML5 -->
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- Begin scripts -->
<!-- End scripts -->

{{ asset:render }}

{{ template:metadata }}

<!-- Place CSS bug fixes for IE 7 in this comment -->
<!--[if IE 7]>
{{ theme:css file="ie.css" }}
<![endif]-->

<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
